.LogIn-main {
  background-color: var(--lightblue);
  border-radius: 1rem;
  width: 28rem;
  margin: 1rem auto;
  padding: 2rem;
}
.LogIn-main input {
  display: block;
  margin: 1.4rem 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--lightblue);
  outline: none;
}
.LogIn-main button {
  font-size: 1.3rem;
  height: 4rem;
}
