@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Yellowtail&display=swap");
.navbar {
  font-weight: 100;
}
.nav-item {
  color: var(--white);
  margin-right: 1.5rem;
  font-size: 1.2rem;
}
.nav-item:hover {
  color: var(--blue);
  transition: all 0.5s ease;
  text-decoration: none;
}
.fa-crown {
  margin-right: 4rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.fa-crown:hover {
  transform: rotate(360deg) scale(1.5);
  color: var(--blue);
  transition: all 1s ease;
}
.fa-shopping-cart {
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 6rem;
  margin-left: 2rem;
}
.fa-shopping-cart:hover {
  transform: scale(1.5);
  color: var(--blue);
  transition: all 1s ease;
}
